@model IEnumerable<Shopping3D.Models.Product>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<div class="container">

        <div class="col-lg-12">

            <div class="row">

                @foreach (var item in Model)
                {
                    
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="~/Products/Details/@Html.DisplayFor(modelItem => item.Id)"><img class="card-img-top" src="@Url.Content(item.Image)" alt="@Html.DisplayFor(modelItem => item.Name)"></a>
                            <div class="card-body">
                                <h5 class="card-title text-center">
                                    @Html.ActionLink(item.Name, "Details", new { id = item.Id })
                                </h5>
                                <h5 class="text-center">$ @Html.DisplayFor(modelItem => item.Price)</h5>
                                <p class="card-text">@Url.Content(item.Description).Substring(0, 100) @Html.ActionLink("...", "Details", new { id = item.Id })</p>
                            </div>
                            <div class="card-footer">
                                @Html.ActionLink("🛒 - Add to Cart", "Add", "Cart", new { id = item.Id }, new { @class = "btn btn-carrito" })
                            </div>
                        </div>
                    </div>
                }

            </div>
            <!-- /.row -->
        </div>
        <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->


