@model IEnumerable<Shopping3D.Models.Product>

@{
    ViewBag.Title = "Index";
}

@foreach (var item in Model) {
    
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="@Url.Content(item.Image)" alt="@Html.DisplayFor(modelItem => item.Name)">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Price)</p>
                </div>
                <div class="card-footer">
                    @Html.ActionLink("Add to Cart", "Add", "Cart", new { id = item.Id }, new {@class = "btn btn-info" })
                </div>
            </div>
        </div>

}

