@model IEnumerable<Shopping3D.Models.Product>

@{
    ViewBag.Title = "Index";
}

@foreach (var item in Model) {
    
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="@Url.Content(item.Image)" alt="@Html.DisplayFor(modelItem => item.Name)">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Price)</p>
                </div>
                @using (Html.BeginForm("Add", "Cart"))
                {
                    <input type="hidden" name="id" value="@item.Id" id="hdnFlag" />
                    <input name="quantity" type="number" value="1" />
                    <div class="card-footer">
                        <input type="submit" value="Add to Cart" id="btnSubmit" />
                    </div>
                }

            </div>
        </div>

}

