<!DOCTYPE html>
<html>
<head>
@Html.Partial("_Shim")
</head>
<body class="site">
    @Html.Partial("_Header")
    <div class="container body-content site_content">
        @RenderBody()
    </div>
    @Html.Partial("_Footer")
    @Html.Partial("_Jscript")
    @RenderSection("scripts", required: false)
</body>
</html>
