<!DOCTYPE html>
<html>
<head>
@Html.Partial("_Shim")
</head>
<body class="">
    @Html.Partial("_Header")

    <div class="">
        @RenderBody()
    </div>
    @Html.Partial("_Footer")
    @Html.Partial("_Jscript")
    @RenderSection("scripts", required: false)
</body>
</html>
